

#menu {
  width: 225px;
  display: table-cell;
  background-color: #263948;
  vertical-align: top;
}


/* Header CSS */







/* Content CSS */
/* Dashboard CSS */


/* Login Page CSS */


/* login-form CSS*/







/* Form Button CSS*/





/*table part*/
